@import 'global';

:host {
  display: flex;
}

.moe-route-link {
  color: #fefefe;
  font: $default-font-bold-weight 0.875rem/1.6 $default-font-family;
  text-transform: capitalize;
  padding: 0.75rem 1rem;
}

.line-item-style {
  text-align: center;
  transition: 0.2s;
  width: 100%;

  &:hover {
    background: #fefefe;
    color: #262626;
  }
}
