:host {
  background: #141414;
  color: #919191;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.footer-container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0.75rem 1.5rem 1rem;
  width: 100%;

  @media (min-width: 768px) {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.75rem 4rem;
  }
}

.footer-links-container {
  display: flex;
  flex-direction: column;

  a {
    color: #919191;
    display: inline-block;
    padding: 0.375rem 0;
  }
}

.footer-credits-container {
  max-width: 320px;
  width: 100%;

  p {
    font-size: 0.75rem;
  }
}
