@import "constants";

:host {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 1em;
  position: relative;

  &:hover {
    .character-card-blur-image {
      filter: blur(2px);
      transform: scale(1.05);
      opacity: 1;
    }

    .character-card-hover-image {
      opacity: 1;
    }
  }
}

.character-profile-link {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.character-card-summary {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 0.5em;
  text-align: center;
}

.character-card-name {
  line-height: 1.4rem;
}

moe-rarity {
  padding-top: 4px;
}

.character-card-image-container {
  @include default-border-radius;

  align-items: center;
  background-size: cover;
  background-position: center;
  display: flex;
  height: 8em;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 8em;
}

.character-card-blur-image,
.character-card-hover-image {
  opacity: 0;
  transition: 0.5s;
}

.character-card-blur-image {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.character-card-hover-image {
  background-position: center;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.character-card-tier {
  bottom: 0.5em;
  height: 1.5em;
  position: absolute;
  right: 0.5em;
  width: 1.5em;
}
