@import 'global';

:host {
  @include default-border-radius;

  cursor: pointer;
  display: flex;
  flex-direction: row;
  position: relative;

  &:hover {
    .character-card-blur-image {
      filter: blur(2px);
      transform: scale(1.05);
      opacity: 1;
    }

    .character-card-hover-image {
      opacity: 1;
    }
  }
}

.character-profile-link {
  @include cover-element;

  z-index: 10;
}

.character-card-summary {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

.character-card-name {
  @include subtitle2-font;
}

moe-rarity {
  padding-top: 0.25rem;
}

.character-card-image-container {
  align-items: center;
  background-size: cover;
  background-position: center;
  border-radius: 0 $moe-border-radius $moe-border-radius 0;
  display: flex;
  flex-shrink: 0;
  height: 8rem;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 8rem;
}

.character-card-blur-image,
.character-card-hover-image {
  opacity: 0;
}

.character-card-blur-image {
  background-position: center;
  background-size: cover;
  height: 100%;
  transition: 0.25s;
  width: 100%;
}

.character-card-hover-image {
  @include cover-element;

  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}

.character-card-tier {
  bottom: 0.25rem;
  height: 1.5rem;
  position: absolute;
  right: 0.25rem;
  width: 1.5rem;
}
