<a class="character-profile-link" routerLink="formattedLink"></a>

<div class="character-card-summary">
  <div class="character-card-name">{{ character.name }}</div>
  <moe-rarity [value]="character.rarity"></moe-rarity>
</div>

<div class="character-card-image-container"  [ngStyle]="{
    'background-image': 'url(' + character.imageUrl + ')'
  }">
  <div class="character-card-blur-image" [ngStyle]="{
    'background-image': 'url(' + character.imageUrl + ')'
  }">
  </div>
  <div class="character-card-hover-image" [ngStyle]="{
      'background-image': 'url(' + formattedHoverImage + ')'
    }"></div>
</div>

<img class="character-card-tier" [src]="formattedTierImage" />
