@import 'global';

:host {
  display: block;
  padding: 0.25rem 1rem;
}

.artifact-set-name {
  @include subtitle2-font;

  flex-grow: 1;
  padding-top: 0.375rem;
}

.artifact-chip-image-container {
  flex-shrink: 0;
  width: 3rem;
}

.two-piece-bonus {
  @include caption-font;
}

.four-piece-bonus {
  @include caption-font;
}
