<div class="container-1">
  <div class="container-inner-1 flex-column" *ngIf="artifact">
    <div class="banner-1">
      <div class="banner-content-container-1">
        <img
          class="full-width full-height image-cover"
          src="https://media.impact.moe/img/banners/banner-1.webp"
        />
      </div>
      <div
        class="banner-content-container-1 flex-row flex-space-between flex-center-items"
      >
        <div
          id="artifact-opacity-layer"
          class="full-width full-height position-absolute"
        ></div>
        <div id="artifact-square-card-image-container">
          <img id="artifact-square-card-image" src="{{ artifact.Image }}" />
        </div>
      </div>
    </div>
    <div
      id="artifact-summary-container"
      class="full-width background-gray-2"
    >
      <div class="primary-content-container-1">
        <div id="artifact-summary-sidebar-container" class="sidebar-section-1 flex-row flex-center">
          <img
            id="artifact-portrait-image"
            class="image-scale-down"
            src="{{ artifact.Image }}"
          />
        </div>
        <div id="artifact-summary-content" class="main-section-1 flex-column hidden-overflow-x">
          <div id="artifact-title-container" class="flex-row flex-center-items">
            <div id="artifact-title-content" class="flex-column">
              <h1>{{ artifact.Name }}</h1>
              <div id="artifact-star-container">
                <i class="fas fa-star" *ngIf="artifact.Rarity >= 1"></i>
                <i class="fas fa-star" *ngIf="artifact.Rarity >= 2"></i>
                <i class="fas fa-star" *ngIf="artifact.Rarity >= 3"></i>
                <i class="fas fa-star" *ngIf="artifact.Rarity >= 4"></i>
                <i class="fas fa-star" *ngIf="artifact.Rarity == 5"></i>
              </div>
            </div>
          </div>
          <div
            id="artifact-description-container"
            class="scrollbars-hidden scroll-overflow-y"
          >
            <p>{{ artifact.Description }}</p>
          </div>

          <div
            id="artifact-summary-content-nav"
            class="flex-row scrollbars-hidden scroll-overflow-x"
          >
            <a
              class="button-1 {{
                utilityService.getRarityHoverBackground(artifact.Rarity)
              }}
              {{
                pageId === 'overview'
                  ? utilityService.getRarityBackground(artifact.Rarity)
                  : ''
              }}"
              [routerLink]="['/artifacts/' + artifact.Id + '/overview']"
              ><h2>overview</h2></a
            >
            <a
              class="button-1 {{
                utilityService.getRarityHoverBackground(artifact.Rarity)
              }}
              {{
                pageId === 'materials'
                  ? utilityService.getRarityBackground(artifact.Rarity)
                  : ''
              }}"
              [routerLink]="['/artifacts/' + artifact.Id + '/materials']"
              ><h2>materials</h2></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="body-1 flex-row full-width">
      <div id="artifact-content" class="primary-content-container-1">
        <div id="artifact-sidebar-content-container"
            class="sidebar-section-1 flex-column scrollbars-hidden {{
              utilityService.getRarityBackground(artifact.Rarity)
            }}"
          >
          <div>
            <h2>Artifact Type</h2>
            <p>{{ artifact.ArtifactType }}</p>
          </div>
        </div>

        <div id="artifact-main-content-container" class="main-section-1">
          <div
            id="artifact-overview-container"
            class="flex-column"
            *ngIf="pageId === 'overview'"
          >
            <div
              class="artifact-role-container content-card flex-column background-gray-2"
            >
              <div
                class="content-card-title flex-row {{
                  utilityService.getRarityBackground(artifact.Rarity)
                }}"
              >
                <h3>{{ artifact.ArtifactSet.Name }}</h3>
              </div>
              <div class="content-card-body">
                <div class="role-description">
                  <h4>Two Piece Bonus</h4>
                  <p>
                    {{ artifact.ArtifactSet.TwoPieceBonus }}
                  </p>
                  <h4>Four Piece Bonus</h4>
                  <p>
                    {{ artifact.ArtifactSet.FourPieceBonus }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
