h1 {
  font-family: "Montserrat", sans-serif;
  color: #fefefe;
  font-size: 1.4rem;
  letter-spacing: 0.02em;
  font-weight: 800;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #fefefe;
  font-size: 0.8rem;
  letter-spacing: 0.02em;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #fefefe;
  font-size: 1.4rem;
  letter-spacing: 0.02em;
  font-weight: 800;
  margin-bottom: 0;
  margin-top: 0;
}

h4 {
  font-family: "Montserrat", sans-serif;
  color: #fefefe;
  font-size: 1rem;
  letter-spacing: 0.02em;
  font-weight: 800;
  margin-bottom: 0;
  margin-top: 0;
}

/* Banner */

#artifact-quote-image {
  margin-left: 25em;
  margin-top: 2em;
}

#artifact-tier-image {
  width: 5em;
  height: 5em;
  margin-right: 15em;
}

#artifact-square-card-image-container {
  margin: auto;
  overflow: none;
  z-index: 100;
  margin-top: 1em;
  display: none;
}

#artifact-square-card-image {
  height: 15em;
  border-radius: 5px;
}

#artifact-opacity-layer {
  display: none;
  background: #000000;
  opacity: 0.8;
  z-index: 99;
}

@media screen and (max-width: 1100px) {
  #artifact-quote-image {
    display: none;
  }

  #artifact-tier-image {
    display: none;
  }

  #artifact-square-card-image-container {
    display: flex;
  }

  #artifact-opacity-layer {
    display: flex;
  }

  #artifact-banner-container-content {
    justify-content: center;
  }
}

/* Summary */

#artifact-summary-container {
  height: 20em;
  z-index: 100;
}

#artifact-portrait-image {
  margin-top: -10em;
  margin-left: 10em;
  margin-bottom: 2em;
  width: 20em;
}

#artifact-summary-content {
  margin: 2em 15em 0 2em;
}

#artifact-title-content {
  margin-left: 0.2em;
}

#artifact-star-container {
  margin-top: 0.3em;
  color: #fefefe;
  font-size: 0.7rem;
  letter-spacing: 0.15rem;
}

#artifact-description-container {
  margin: 0.2em;
  height: 10.5em;
  flex-grow: 1;
}

#artifact-summary-content-nav {
  margin-left: 0.6em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  height: 2.5em;
}

#artifact-summary-content-nav a {
  margin: 0 0.5em;
}

@media screen and (max-width: 1100px) {
  #artifact-portrait-image {
    display: none;
  }

  #artifact-summary-content {
    margin-left: 5em;
    margin-right: 5em;
  }
}

@media screen and (max-width: 525px) {
  #artifact-summary-content-nav {
    margin-left: 0;
  }

  #artifact-summary-content {
    margin-left: 2em;
    margin-right: 2em;
  }
}

/* artifact Content */

@media screen and (max-width: 1100px) {
  #artifact-content {
    flex-direction: column;
  }
}

/* Sidebar */

#artifact-content-sidebar {
  width: 20em;
  margin-left: 10em;
  align-self: start;
  border-radius: 5px;
  margin-bottom: 2em;
}

#artifact-content-sidebar > div {
  height: 3.5em;
  min-height: 3.5em;
  max-height: 3.5em;
  width: 20em;
  min-width: 20em;
  max-width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#artifact-content-sidebar p {
  margin-top: 0.2em;
  margin-left: 0.8em;
  margin-right: 0.8em;
}

#artifact-content-sidebar h2 {
  margin-left: 0.8em;
  margin-right: 0.8em;
}

#artifact-content-sidebar div:first-child h2 {
  margin-top: 0.8em;
}

#artifact-content-sidebar div:last-child p {
  margin-bottom: 0;
}

@media screen and (max-width: 1100px) {
  #artifact-content-sidebar {
    flex-direction: row;
    overflow-x: scroll;
    height: 3.5em;
    max-height: 3.5em;
    min-height: 3.5em;
    width: unset;
    max-width: unset;
    margin-left: 2em;
    margin-right: 2em;
  }

  #artifact-content-sidebar > div {
    width: auto;
    min-width: unset;
    max-width: unset;
    max-height: 3.5em;
  }

  #artifact-content-sidebar > div > h2 {
    white-space: nowrap;
  }

  #artifact-content-sidebar > div > p {
    white-space: nowrap;
  }

  #artifact-content-sidebar-container {
    width: 100%;
  }

  #artifact-content-sidebar div:last-child p {
    margin-bottom: 1em;
  }

  #artifact-content-sidebar h2 {
    margin-top: 0.8em;
  }
}

/* Main Content */

#artifact-content-main {
  flex-grow: 1;
  margin-right: 10em;
  border-radius: 5px;
  padding-left: 2em;
  padding-right: 2em;
  min-width: 20em;
}

@media screen and (max-width: 1100px) {
  #artifact-content-main {
    margin-right: 0;
  }
}

/* artifact Overview */

#artifact-overview-container > div {
  margin-bottom: 2em;
}

#artifact-overview-container > div:last-child {
  margin-bottom: 0em;
}

.artifact-role-container > .content-card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.artifact-role-container > .content-card-body {
  padding: 2em;
}

.artifact-role-container > .content-card-title > i {
  color: #fefefe;
  font-size: 2em;
  margin-right: 1em;
}

.overview-content {
  flex-wrap: wrap;
  padding: 1em;
  margin-bottom: 1em;
}

.overview-content-list {
  min-width: 15em;
  max-width: 15em;
  border-radius: 5px;
  padding: 0.2em;
}

.overview-content-list-title {
  border-radius: 5px;
  height: 3em;
  max-height: 3em;
  min-height: 3em;
  margin-top: 1em;
}

.overview-content-list-item {
  margin-top: 1em;
  height: 3em;
  max-height: 3em;
  min-height: 3em;
}

.overview-content-list-item-rank {
  border-radius: 5px 0 0 5px;
  width: 2em;
}

.overview-content-list-item-rank img {
  width: 1.5em;
  height: 1.5em;
}

.overview-content-list-item-rank p {
  color: #000000;
}

.overview-content-list-item-content {
  border-radius: 0 5px 5px 0;
  flex-grow: 1;
}

/* artifact Talents */

#artifact-talents-container > div {
  margin-bottom: 2em;
}

#artifact-talents-container > div:last-child {
  margin-bottom: 0em;
}

.artifact-talent-container > .content-card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.artifact-talent-container > .content-card-title > h4 {
  flex-grow: 1;
}

.artifact-talent-container > .content-card-title > img {
  height: 2em;
  margin-right: 1em;
}

.talent-tag-container {
  border-radius: 5px;
  height: 2.5em;
  padding: 0 1em;
  margin-left: 1em;
  white-space: nowrap;
}

.talent-tag-container p {
  font-family: "Montserrat", sans-serif;
  color: #fefefe;
  font-size: 0.8rem;
  letter-spacing: 0.02em;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 525px) {
  .talent-tag-container {
    display: none;
  }
}

/* artifact Constellations */

#artifact-constellations-container > div {
  margin-bottom: 2em;
}

#artifact-constellations-container > div:last-child {
  margin-bottom: 0em;
}

.artifact-constellation-container > .content-card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.artifact-constellation-container > .content-card-title > h4 {
  flex-grow: 1;
}

.artifact-constellation-container > .content-card-title > img {
  height: 2em;
  margin-right: 1em;
}

.constellation-tag-container {
  border-radius: 5px;
  height: 2.5em;
  padding: 0 1em;
  margin-left: 1em;
  white-space: nowrap;
}

@media screen and (max-width: 525px) {
  .constellation-tag-container {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .content-card-title {
    padding: 1em 2em;
  }
  .content-card-title > h3 {
    font-size: 1em;
  }
  .content-card-title > img {
    height: 1em;
  }
  .content-card-title > i {
    font-size: 1em !important;
  }
}
