<ng-template [ngIf]="!artifact">
  <moe-loading-image></moe-loading-image>
</ng-template>

<ng-template [ngIf]="!!artifact">
  <moe-item-header
    [name]="artifact.Name"
    [rarity]="artifact.Rarity"
  ></moe-item-header>

  <div class="artifact-body">
    <div class="artifact-summary">
      <div
        class="artifact-card"
        [ngClass]="{
          'rarity1-gradient': !artifact.Rarity || artifact.Rarity === 1,
          'rarity2-gradient': artifact.Rarity === 2,
          'rarity3-gradient': artifact.Rarity === 3,
          'rarity4-gradient': artifact.Rarity === 4,
          'rarity5-gradient': artifact.Rarity === 5
        }"
      >
        <div class="artifact-attributes">
          <div class="artifact-type">{{ artifact.ArtifactType }}</div>
          <div class="location-label">Location</div>
          <div class="location-value">{{ artifact.Location }}</div>
        </div>

        <div
          class="artifact-image"
          [ngStyle]="{
            'background-image': 'url(' + artifact.Image + ')'
          }"
        ></div>
      </div>

      <div class="artifact-set">
        <div class="artifact-set-name">{{ artifact.ArtifactSet.Name }}</div>
        <ul>
          <li>2-Piece Set: {{ artifact.ArtifactSet.TwoPieceBonus }}</li>
          <li>4-Piece Set: {{ artifact.ArtifactSet.FourPieceBonus }}</li>
        </ul>
        <p class="artifact-description">
          {{ artifact.Description }}
        </p>
      </div>
    </div>

    <div class="artifact-details">
      <div class="artifact-lore">
        <div class="artifact-lore-header">Lore</div>
        <p class="artifact-lore-description">{{ artifact.Lore }}</p>
      </div>
    </div>
  </div>
</ng-template>
