@import 'global';

.artifact-body {
  @include maximum-width;

  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-small-min-width) {
    flex-direction: row;
    padding: 0 1.5rem 1.5rem;
  }
}

.artifact-summary {
  @media (min-width: $desktop-small-min-width) {
    flex-shrink: 0;
    padding-top: 1.5rem;
    width: 22.5rem;
  }
}

.artifact-card {
  display: flex;
  flex-direction: row;

  @media (min-width: $desktop-small-min-width) {
    border-radius: $moe-border-radius $moe-border-radius 0 0;
  }
}

.artifact-attributes {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0.75rem 1rem;

  @media (min-width: $desktop-small-min-width) {
    padding: 1rem 1rem 1rem 1.5rem;
  }
}

.artifact-type,
.artifact-set-name,
.artifact-lore-header {
  @include header6-font;
}

.location-label {
  @include caption-font;
}

.location-value {
  @include subtitle2-font;
}

.artifact-description,
.artifact-lore-description {
  @include body2-font;
}

.artifact-type {
  flex-grow: 1;
  line-height: 1.4;
}

.artifact-description {
  font-style: italic;
}

.artifact-image {
  align-self: stretch;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex-shrink: 0;
  min-height: 10rem;
  width: 10rem;
}

.artifact-set {
  padding: 1rem 1rem 0;

  @media (min-width: $desktop-small-min-width) {
    background: $moe-level1-color;
    border-radius: 0 0 $moe-border-radius $moe-border-radius;
    padding: 1rem 1.5rem;
  }
}

.artifact-details {
  padding-bottom: 1rem;

  @media (min-width: $desktop-small-min-width) {
    flex-grow: 1;
    padding-bottom: 1.5rem;
  }
}

.artifact-lore {
  padding: 1rem 1rem 0;

  @media (min-width: $desktop-small-min-width) {
    padding: 1.5rem 1.5rem 0;
  }
}
