$mobile-max-width: 679px;
$tablet-min-width: $mobile-max-width + 1;
$tablet-max-width: 1023px;
$desktop-small-min-width: $tablet-max-width + 1;
$desktop-small-max-width: 1439px;
$desktop-large-min-width: $desktop-small-max-width + 1;
