$default-font-family: "Montserrat", sans-serif;
$default-font-bold-weight: 800;

@mixin default-font-style {
  font: $default-font-bold-weight 1rem/1.6 $default-font-family;
  letter-spacing: 0.04rem;
}
