<a class="weapon-page-link" [routerLink]="formattedLink"></a>

<div class="weapon-chip-summary">
  <div class="weapon-chip-name">{{ weapon.name }}</div>
  <div class="weapon-chip-attributes">
    <div class="base-attack-label">Base ATK</div>
    <div class="base-attack-value">{{ weapon.baseAttack }}</div>
    <div *ngIf="hasSubstat()" class="substat-type-label">
      {{ weapon.substatType }}
    </div>
    <div *ngIf="hasSubstat()" class="substat-value">
      {{ weapon.substatValue }}
    </div>
  </div>
</div>

<div
  class="weapon-chip-image-container"
  [ngClass]="{
    'rarity1-gradient': !weapon.rarity || weapon.rarity === 1,
    'rarity2-gradient': weapon.rarity === 2,
    'rarity3-gradient': weapon.rarity === 3,
    'rarity4-gradient': weapon.rarity === 4,
    'rarity5-gradient': weapon.rarity === 5
  }"
>
  <div
    class="weapon-chip-image"
    [ngStyle]="{
      'background-image': 'url(' + weapon.imageUrl + ')'
    }"
  ></div>
</div>
