h1 {
  font-family: "Montserrat", sans-serif;
  color: #fefefe;
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #fefefe;
  font-size: 0.8rem;
  letter-spacing: 0.02em;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #fefefe;
  font-size: 0.8rem;
  letter-spacing: 0.02em;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  font-family: "Montserrat", sans-serif;
  color: #fefefe;
  font-size: 0.8rem;
  letter-spacing: 0.02em;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0;
}

/* Banner */

#group-type-button {
  margin-top: 1em;
}

/* List Content */

#artifact-list-container {
  max-width: 70%;
}

.artifact-group-list-item {
  border-radius: 5px;
  margin: 0.5em;
}

.artifact-group-list-item-image-container {
  border-radius: 5px 5px 0 0;
  align-self: stretch;
  height: 3em;
}

.artifact-group-list-item-image-container img {
  width: 2em;
}

.artifact-items-container {
  padding: 1em;
  flex-wrap: wrap;
  flex-grow: 1;
}

.artifact-item-container {
  border-radius: 5px;
  margin: 1em;
  width: 18em;
  min-width: 18em;
}

.artifact-item-title-container {
  flex-grow: 1;
  margin: 1em;
}

.artifact-item-title-container i {
  color: #fefefe;
  margin: 0 0.1em;
  font-size: 0.6rem;
}

.artifact-item-title-container h4 {
  margin-bottom: 0.5em;
  text-align: center;
}

.artifact-item-title-container p {
  text-align: center;
  margin-top: 0;
}

.artifact-item-image-container-1 {
  width: 6em;
  height: 6em;
  margin: 1em;
}

.artifact-item-image-container-2 {
  overflow: hidden;
  border-radius: 5px;
}

.artifact-item-image-container-3 {
  width: 6em;
  min-width: 6em;
  height: 6em;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s;
}

.artifact-item-overlay-background-container {
  width: 5.25em;
  max-width: 5.25em;
  height: 5.25em;
  max-height: 5.25em;
  border-radius: 5px;
  opacity: 0;
  transition: 0.5s;
}

.artifact-item-overlay {
  width: 6em;
  height: 6em;
  margin-top: -0.5em;
  margin-left: -0.5em;
  filter: blur(7px);
  background-size: cover;
  background-repeat: no-repeat;
}

.artifact-item-overlay-content {
  width: 6em;
  height: 6em;
  opacity: 0;
  transition: 0.5s;
}

.artifact-item-container:hover .artifact-item-overlay-background-container {
  opacity: 1;
}

.artifact-item-container:hover .artifact-item-image-container-3 {
  transform: scale(1.2);
}

.artifact-item-container:hover .artifact-item-overlay-content {
  opacity: 1;
}

@media screen and (max-width: 525px) {
  #artifact-list-container {
    max-width: 100%;
  }
}
