<h1 class="list-page-header">Artifacts</h1>

<moe-loading-image *ngIf="!hasData(); else elseBlock"></moe-loading-image>

<ng-template #elseBlock>
  <div class="artifact-search-container">
    <moe-filter-sort
      [placeholderText]="placeholderText"
      (filterSortEvent)="updateConfiguration($event)"
    ></moe-filter-sort>
  </div>

  <div class="artifact-search-results">
    <div class="artifact-results-message">{{ resultsMessage }}</div>
    <div class="artifact-results-grid">
      <moe-artifact-card
        *ngFor="let artifact of results"
        [artifact]="artifact"
      ></moe-artifact-card>
    </div>
  </div>
</ng-template>
