<div class="moe-video-container">
  <video
    class="moe-video-background"
    src="assets/video/home-bg.mp4"
    autoplay
    loop
  ></video>
</div>

<div class="moe-home-intro">
  <div class="moe-home-header">
    <div class="paimon-image-container">
      <img class="paimon-image" src="assets/img/portraits/Paimon.webp" />
    </div>

    <h1 class="moe-header-title">Genshin's Paimon-Certified Database</h1>
    <div class="moe-header-description">
      Get up to date information, drop rates and builds for Genshin Impact.
    </div>
  </div>

  <div class="moe-intro-content">
    <div class="intro-content-item">
      <div class="intro-content-icon">
        <i class="fas fa-info-circle"></i>
      </div>
      <div class="intro-content-text">
        <div class="intro-content-header">Growing Database</div>
        <p>
          A growing database containing information on Characters, Artifacts,
          Weapons, Materials and more.
        </p>
      </div>
    </div>

    <div class="intro-content-item">
      <div class="intro-content-icon">
        <i class="fas fa-user-friends"></i>
      </div>
      <div class="intro-content-text">
        <div class="intro-content-header">Community Driven Data</div>
        <p>
          We will be implementing a tool for submitting your boss drop data in
          order to generate statistical data.
        </p>
      </div>
    </div>

    <div class="intro-content-item">
      <div class="intro-content-icon">
        <i class="fas fa-book-open"></i>
      </div>
      <div class="intro-content-text">
        <div class="intro-content-header">Open API</div>
        <p>All of our data is accessible through the public API.</p>
      </div>
    </div>

    <div class="intro-content-item">
      <div class="intro-content-icon">
        <i class="fas fa-mobile-alt"></i>
      </div>
      <div class="intro-content-text">
        <div class="intro-content-header">Mobile App</div>
        <p>
          We are in the process of deploying a mobile application for iOS and
          Android support.
        </p>
      </div>
    </div>
  </div>
</div>
