@import 'global';

:host {
  @include maximum-width;
}

$mobile-image-height: 12rem;
$desktop-small-image-height: 20rem;
$desktop-large-image-height: 25rem;

$mobile-video-height: 8rem;

.moe-video-container {
  height: $mobile-video-height;
  width: 100%;

  @media (min-width: $desktop-small-min-width) {
    height: 16rem;
  }
}

.moe-video-background {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.moe-home-header {
  background: $moe-text-color;
  color: $moe-navy-accent;
  padding-top: $mobile-image-height - $mobile-video-height;
  text-align: center;

  @media (min-width: $desktop-small-min-width) {
    padding-top: 0;
  }
}

.paimon-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;

  @media (min-width: $desktop-small-min-width) {
    justify-content: flex-start;
  }
}

.paimon-image {
  position: absolute;
  bottom: -1rem;
  height: $mobile-image-height;

  @media (min-width: $desktop-small-min-width) {
    bottom: -10rem;
    left: calc(50vw - 34rem);
    height: $desktop-small-image-height;
  }

  @media (min-width: $desktop-large-min-width) {
    left: 5rem;
    height: $desktop-large-image-height;
  }
}

@mixin header-constraints {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
}

.moe-header-title {
  @include header5-font;

  line-height: 1.4;
  padding: 1rem;

  @media (min-width: $desktop-small-min-width) {
    @include header4-font;
    padding-top: 1.5rem;
  }
}

.moe-header-description {
  @include header-constraints;
  @include subtitle-font;

  max-width: 32rem;
  padding: 0 1rem 1.5rem 1rem;

  @media (min-width: $desktop-small-min-width) {
    @include header6-font;

    padding: 0 1.5rem;
  }
}

.moe-home-intro {
  background: $moe-text-color;
}

.moe-intro-content {
  display: grid;
  row-gap: 0.25rem;

  @media (min-width: $tablet-min-width) {
    box-sizing: border-box;
    column-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    max-width: 72rem;
    padding: 1.5rem;
    row-gap: 1rem;
    width: 100%;
  }

  @media (min-width: $desktop-large-min-width) {
  }
}

.intro-content-item {
  background: #323e61;
  display: flex;
  flex-direction: row;

  @media (min-width: $tablet-min-width) {
    @include default-border-radius;
    overflow: hidden;
  }
}

.intro-content-icon {
  align-items: center;
  background: $moe-navy-accent;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  text-align: center;

  i {
    font-size: 2rem;
    width: 4rem;

    @media (min-width: $desktop-small-min-width) {
      font-size: 3rem;
      width: 6rem;
    }
  }
}

.intro-content-text {
  flex-grow: 1;
  padding: 1rem;
}

.intro-content-header {
  @include header6-font;
}
