<div
  id="home-container"
  class="flex-row flex-center position-absolute background-gray-2"
>
  <div id="home-video-container">
    <video
      id="home-video"
      src="https://media.impact.moe/video/home-bg.mp4"
      autoplay
      loop
    ></video>
  </div>
  <div
    id="home-intro-container"
    class="flex-column flex-center-items position-absolute background-off-white"
  >
    <img
      id="paimon-image"
      src="https://media.impact.moe/img/portraits/Paimon.webp"
    />
    <h1>Genshin's Paimon-certified database</h1>
    <h2>
      Get up to date information, drop rates and builds for Genshin Impact.
    </h2>
    <div id="intro-container-content-grid">
      <div class="intro-container-content-item">
        <div class="intro-container-content-item-image background-blue">
          <i class="fas fa-info-circle"></i>
        </div>
        <div class="intro-container-content-item-text">
          <h3>Growing Database</h3>
          <p>
            A growing database containing information on Characters, Artifacts,
            Weapons, Materials and more.
          </p>
        </div>
      </div>

      <div class="intro-container-content-item">
        <div class="intro-container-content-item-image background-blue">
          <i class="fas fa-user-friends"></i>
        </div>
        <div class="intro-container-content-item-text">
          <h3>Community Driven Data</h3>
          <p>
            We will be implementing a tool for submitting your boss drop data in
            order to generate statistical data.
          </p>
        </div>
      </div>

      <div class="intro-container-content-item">
        <div class="intro-container-content-item-image background-blue">
          <i class="fas fa-book-open"></i>
        </div>
        <div class="intro-container-content-item-text">
          <h3>Open API</h3>
          <p>All of our data is accessible through the public API.</p>
        </div>
      </div>

      <div class="intro-container-content-item">
        <div class="intro-container-content-item-image background-blue">
          <i class="fas fa-mobile-alt"></i>
        </div>
        <div class="intro-container-content-item-text">
          <h3>Mobile App</h3>
          <p>
            We are in the process of deploying a mobile application for iOS and
            Android support.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
