@import 'constants';
@import 'html';

/* App component backgrounds. */

.level1-background {
  background: $moe-level1-color;
}

@mixin level2-box-shadow {
  box-shadow: 2px 2px 2px 2px #0004;
}

/* Maximum display width. */

@mixin maximum-width {
  @media (min-width: $desktop-small-min-width) {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
  }
}

/* List page stylings. */

@mixin list-page-host {
  box-sizing: border-box;
  display: block;
}

.list-page-header {
  background-image: url(https://media.impact.moe/img/banners/banner-1.webp);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  cursor: default;
  padding: 2rem 1rem;
  text-align: center;
  width: 100%;

  @media (min-width: $tablet-min-width) {
    padding: 4rem 1rem;
  }
}

@mixin list-page-sizing {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    max-width: 100%;
  }

  @media (min-width: $desktop-small-min-width) {
    max-width: 1440px;
  }
}

@mixin list-page-grid {
  column-gap: 0.5em;
  display: grid;
  justify-items: stretch;
  row-gap: 0.5em;

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-small-min-width) and (max-width: $desktop-small-max-width) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $desktop-large-min-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Cover element styles. */

@mixin cover-element {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* Rarity gradient backgrounds. */

.rarity1-gradient {
  background: $moe-rarity1-gradient;
}

.rarity2-gradient {
  background: $moe-rarity2-gradient;
}

.rarity3-gradient {
  background: $moe-rarity3-gradient;
}

.rarity4-gradient {
  background: $moe-rarity4-gradient;
}

.rarity5-gradient {
  background: $moe-rarity5-gradient;
}

/* Tier backgrounds. */

.background-tier-0 {
  background: #a30501;
}

.background-tier-1 {
  background: #dc9400;
}

.background-tier-2 {
  background: #d6dc02;
}

.background-tier-3 {
  background: #80c701;
}

.background-tier-4 {
  background: #3cc857;
}

/* Element text colors */
.pyro {
  color: #ff9999;
}

.cryo {
  color: #99ffff;
}

.hydro {
  color: #80c0ff;
}

.dendro {
  color: #b2ea2a;
}

.electro {
  color: #ffacff;
}

.anemo {
  color: #7df1cc;
}

.geo {
  color: #ffe699;
}
