@import 'constants';

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  background: $moe-background-color;
}

body {
  @include default-font-style;
  @include default-text-color;

  position: relative;
}

*:focus {
  outline: none;
}

h1 {
  font: $default-font-bold-weight 2.2rem/1.6 $default-font-family;
  margin: 0;
}

a {
  @include body2-font;

  color: #6787e8;
  font-weight: $default-font-bold-weight;
  text-decoration: none;
}

p {
  @include body2-font;

  font-weight: $default-font-medium-weight;
  letter-spacing: 0.04em;
  margin: 0;
  padding: 0.5rem 0;
}

input[type='search'] {
  @include body-font;
  @include default-text-color;

  background: $moe-level1-color;
  border: none;
  border-radius: $moe-border-radius;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;

  &::placeholder {
    color: #fff9;
  }
}

ul {
  @include body2-font;

  font-weight: $default-font-medium-weight;
  margin: 0;
  padding: 0.5rem;
  padding-left: 1.5rem;
}
