@import 'global';

:host {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
  padding-bottom: 1rem;
}

.weapon-header-container {
  background: $moe-level1-color;
}

.weapon-header-content {
  padding: 0.5rem 1rem 0.75rem;

  .weapon-name {
    font-size: 1.6rem;
    line-height: 1.4;
  }
}

.weapon-overview {
  display: flex;
  flex-direction: row;
}

.weapon-stats {
  flex-shrink: 0;
  flex-grow: 1;
  padding: 0.75rem 1rem;

  .weapon-type,
  .base-attack-value {
    @include header6-font;
  }

  .base-attack-value {
    line-height: 1.4;
  }

  .base-attack-label,
  .substat-label,
  .location-label {
    @include caption-font;
  }

  .substat-value {
    @include subtitle2-font;
  }
}

.weapon-image {
  max-width: 320px;
  width: 50%;
}

.weapon-ability-container,
.weapon-lore-container {
  padding: 1rem 1rem 0;
}

.weapon-ability-name,
.weapon-lore-header {
  @include header6-font;
}

.weapon-description,
.weapon-lore {
  @include body2-font;
}

.weapon-description {
  font-style: italic;
}
