<ng-template [ngIf]="!weapon">
  <moe-loading-image></moe-loading-image>
</ng-template>

<ng-template [ngIf]="!!weapon">
  <moe-item-header
    [name]="weapon.Name"
    [rarity]="weapon.Rarity"
  ></moe-item-header>

  <div class="weapon-body">
    <div class="weapon-summary">
      <div
        class="weapon-card"
        [ngClass]="{
          'rarity1-gradient': !weapon.Rarity || weapon.Rarity === 1,
          'rarity2-gradient': weapon.Rarity === 2,
          'rarity3-gradient': weapon.Rarity === 3,
          'rarity4-gradient': weapon.Rarity === 4,
          'rarity5-gradient': weapon.Rarity === 5
        }"
      >
        <div class="weapon-stats">
          <div class="weapon-type">{{ weapon.WeaponType }}</div>
          <div class="base-attack-label">Base ATK</div>
          <div class="base-attack-value">{{ weapon.BaseAtk }}</div>
          <div *ngIf="hasSubstat()" class="substat-label">
            {{ weapon.SubStatType }}
          </div>
          <div *ngIf="hasSubstat()" class="substat-value">
            {{ weapon.SubStat }}
          </div>
          <div class="location-label">Location</div>
          <div class="location-value">{{ weapon.Location }}</div>
        </div>

        <div
          class="weapon-image"
          [ngStyle]="{
            'background-image': 'url(' + weapon.Image + ')'
          }"
        ></div>
      </div>

      <div class="weapon-ability-container">
        <div *ngIf="!!weapon.AbilityName" class="weapon-ability-name">
          {{ weapon.AbilityName }}
        </div>
        <p
          *ngIf="!!weapon.AbilityDescription"
          class="weapon-ability-description"
        >
          {{ weapon.AbilityDescription }}
        </p>
        <p *ngIf="!!weapon.Description" class="weapon-description">
          {{ weapon.Description }}
        </p>
      </div>
    </div>

    <div class="weapon-details">
      <div *ngIf="!!weapon.Lore" class="weapon-lore-container">
        <div class="weapon-lore-header">Lore</div>
        <p class="weapon-lore">{{ weapon.Lore }}</p>
      </div>
    </div>
  </div>
</ng-template>
