@import 'global';

:host {
  @include list-page-host;
}

.character-page-content {
  @include list-page-sizing;
  padding: 0 0.5rem;

  @media (min-width: $tablet-min-width) {
    padding: 0 1.5rem;
  }
}

.character-list-controls {
  align-items: center;
  display: flex;
  flex-direction: row;
  user-select: none;
  padding: 0.5em 0;

  .group-button {
    @include default-border-radius;

    background: $moe-level1-color;
    color: white;
    cursor: pointer;
    padding: 0.75rem;
  }

  .group-type-button-label {
    @include subtitle2-font;

    text-transform: uppercase;
  }

  i {
    padding: 0 0.5em;
    margin: 0;
  }

  .group-type-selected {
    @include body2-font;

    font-weight: $default-font-medium-weight;
    text-transform: capitalize;
  }

  @media (min-width: $tablet-min-width) {
    padding: 1em 0;
  }
}

/* List Content */

.character-group-section {
  padding-bottom: 1.5em;
}

.character-group-section-header {
  @include default-border-radius;

  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5em;
  height: 2em;

  img {
    max-height: 100%;
  }
}

.character-items-list {
  @include list-page-grid;
  padding-top: 0.5em;
}

moe-character-card {
  background: $moe-level1-color;
}
