@import "constants";

:host {
  box-sizing: border-box;
  display: block;
  min-height: 100%;
  padding-top: 6em;
}

.page-header {
  align-items: center;
  background-image: url(https://media.impact.moe/img/banners/banner-1.webp);
  background-size: cover;
  background-position: center;
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 8em;

  @media (min-width: 600px) {
    height: 12em;
  }
}

.page-content {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 0.5em;
  width: 100%;

  @media (min-width: 600px) {
    padding: 0 1.5em;
  }
}

.character-list-controls {
  align-items: center;
  display: flex;
  flex-direction: row;
  user-select: none;
  padding: 0.5em 0;

  #group-type-button {
    margin: 0;
  }

  .group-type-button-label {
    text-transform: uppercase;
  }

  i {
    padding: 0 0.5em;
    margin: 0;
  }

  .group-type-selected {
    font-size: 0.875rem;
    font-weight: 600;
  }

  @media (min-width: 600px) {
    padding: 1em 0;
  }
}

/* List Content */

.character-group-section {
  padding-bottom: 1.5em;
}

.character-group-section-header {
  @include default-border-radius;

  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5em;
  height: 2em;

  img {
    max-height: 100%;
  }
}

$items-gutter: 0.5em;

.character-items-list {
  column-gap: $items-gutter;
  display: grid;
  justify-items: stretch;
  padding-top: $items-gutter;
  row-gap: $items-gutter;

  @media (min-width: 600px) and (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) and (max-width: 1439px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

moe-character-card {
  background: #aaa1;
}
