<div class="container-1">
  <div class="container-inner-1 flex-column">
    <div class="banner-1">
      <div class="banner-content-container-1">
        <img
          class="full-width full-height image-cover"
          src="https://media.impact.moe/img/banners/banner-1.webp"
        />
      </div>
      <div
        class="banner-content-container-1 flex-column flex-center flex-center-items"
      >
        <h1>Characters</h1>
        <a
          id="group-type-button"
          class="button-1 background-blue hover-background-gray"
          (click)="groupButtonClick()"
          ><i class="fas fa-chevron-right"></i>
          <h2>{{ groupType }}</h2></a
        >
      </div>
    </div>
    <div class="body-1 flex-column flex-center-items full-width">
      <div id="character-list-container" class="flex-column" *ngIf="listItems">
        <div id="character-list-controls-container">
          <div class="flex-row">
            <a class="button-1 hover-background-gray-4" (click)="toggleCharacterItemsCollapsed()">
              <p>{{ characterItemsCollapseButtonContent }}</p>
            </a>
          </div>
        </div>
        <div
          class="character-group-list-item flex-column background-gray-2"
          *ngFor="let listItem of listItems | keyvalue"
        >
          <div
            class="character-group-list-item-image-container flex-row flex-center flex-center-items"
            [ngClass]="
              groupType === 'tier'
                ? 'background-tier-' + listItem.key
                : 'background-gray-3'
            "
          >
            <img
              *ngIf="listItem.value.mainImage"
              src="{{ listItem.value.mainImage }}"
              [ngStyle]="{
                'margin-left': groupType === 'tier' ? '0em' : '2em',
                'margin-right': groupType === 'tier' ? '0em' : '2em'
              }"
            />
            <h3 *ngIf="listItem.value.mainLabel">
              {{ listItem.value.mainLabel }}
            </h3>
          </div>
          <div class="character-items-container flex-row flex-center">
            <a
              class="character-item-container flex-row background-gray-1"
              [style]="characterItemContainerStyle"
              *ngFor="let characterItem of listItem.value.characters"
              routerLink="{{ '/characters/' + characterItem.Id }}"
            >
              <div class="character-item-title-container flex-column flex-center flex-center-items"
                [style]="characterItemTitleStyle"
              >
                <h4>{{ characterItem.Name }}</h4>
                <moe-rarity [value]="characterItem.Rarity"></moe-rarity>
              </div>

              <div class="character-item-image-container-1">
                <div class="character-item-image-container-2">
                  <div
                    class="character-item-image-container-3 flex-row flex-center flex-center-items"
                    [ngStyle]="{
                      'background-image': 'url(' + characterItem.SquareCard + ')'
                    }"
                  >
                    <div class="character-item-overlay-background-container">
                      <div
                        class="character-item-overlay"
                        [ngStyle]="{
                          'background-image':
                            'url(' + characterItem.SquareCard + ')'
                        }"
                      ></div>
                    </div>
                    <div
                      class="character-item-overlay-content flex-column flex-center flex-center-items position-absolute"
                    >
                      <img
                        src="{{
                          utilityService.getElementImage(characterItem.Element)
                        }}"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <img
                class="tier-image position-absolute"
                [style]="characterItemTierStyle"
                *ngIf="characterItem.Tier"
                src="{{ utilityService.getTierImage32(characterItem.Tier) }}"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="container-inner-1 loading-area" *ngIf="!listItems">
        <img src="https://media.impact.moe/img/paimon.gif">
      </div>
    </div>
  </div>
</div>
