@import 'global';

:host {
  flex-grow: 200;
}

.character-page {
  height: 100%;
  overflow: hidden;
}

.anemo-style {
  --element-color: #{$moe-anemo-color};
}

.cryo-style {
  --element-color: #{$moe-cryo-color};
}

.electro-style {
  --element-color: #{$moe-electro-color};
}

.geo-style {
  --element-color: #{$moe-geo-color};
}

.hydro-style {
  --element-color: #{$moe-hydro-color};
}

.pyro-style {
  --element-color: #{$moe-pyro-color};
}

@mixin full-width {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.character-header {
  background: $moe-level1-color;
  position: sticky;
  top: 0;
  z-index: 10;
}

.character-header-content {
  @include full-width;

  display: flex;
  flex-direction: row;
}

.character-icon-container {
  background: var(--element-color);
  height: 5rem;
  overflow: hidden;
  width: 5rem;

  @media (min-width: $tablet-min-width) {
    @include default-border-radius;

    margin: 1rem 0 1rem 1rem;
  }

  @media (min-width: $desktop-small-min-width) {
    margin: 1rem 0 1rem 1.5rem;
  }
}

.character-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
}

.character-header-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;

  @media (min-width: $tablet-min-width) {
    padding: 1rem;
  }
}

.character-name {
  @media (max-width: $mobile-max-width) {
    @include header6-font;
    line-height: 1.2;
  }

  @media (min-width: $tablet-min-width) {
    @include header5-font;
  }
}

moe-rarity {
  @media (min-width: $tablet-min-width) {
    margin-bottom: 0.25rem;
  }
}

.header-separator {
  background: #4a4a4a;
  height: 1px;
  width: 100%;
}

moe-character-tabs {
  @include full-width;
}

.character-attributes {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.character-attribute-separator {
  margin: 0 0.5rem;
  height: 0.25rem;
  width: 0.25rem;
  position: relative;

  &::after {
    background: white;
    border-radius: 0.25rem;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.character-element,
.character-weapon {
  @include caption-font;
}

.character-body {
  @include full-width;

  padding-top: 1rem;

  @media (min-width: $tablet-min-width) {
    padding: 1.5rem;
  }
}

$desktop-small-banner-height: 8rem;
$desktop-large-banner-height: 12rem;

.region-banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: $tablet-max-width) {
    display: none;
  }

  @media (min-width: $desktop-small-min-width) {
    @include default-border-radius;

    height: $desktop-small-banner-height;
  }

  @media (min-width: $desktop-large-min-width) {
    height: $desktop-large-banner-height;
  }
}

$desktop-small-margin: 15rem;
$desktop-large-margin: 20rem;

.overview-content {
  padding-top: 1rem;
  position: relative;

  @media (min-width: $tablet-min-width) {
    padding: 1.5rem 0 0 1.5rem;
  }

  @media (min-width: $desktop-small-min-width) {
    margin-left: $desktop-small-margin;
  }

  @media (min-width: $desktop-large-min-width) {
    margin-left: $desktop-large-margin;
  }
}

.character-art {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;

  @media (max-width: $tablet-max-width) {
    display: none;
  }

  @media (min-width: $desktop-small-min-width) {
    left: -$desktop-small-margin - 2rem;
    position: absolute;
    top: -$desktop-small-banner-height - 1rem;
    width: $desktop-small-margin + 5rem;
  }

  @media (min-width: $desktop-large-min-width) {
    left: -$desktop-large-margin - 2rem;
    top: -$desktop-large-banner-height - 1rem;
    width: $desktop-large-margin + 5rem;
  }
}

.builds-no-data,
.talents-no-data,
.constellations-no-data {
  @include body2-font;

  text-align: center;
  width: 100%;
}

moe-character-build {
  @media (min-width: $tablet-min-width) {
    @include default-border-radius;
  }
}

moe-character-build:not(:last-child) {
  margin-bottom: 1rem;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 1.5rem;
  }
}

.talents-grid,
.constellations-grid {
  display: grid;
  row-gap: 1rem;

  @media (min-width: $desktop-small-min-width) {
    column-gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
  }

  @media (min-width: $desktop-large-min-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.talent-container,
.constellation-container {
  background: $moe-level1-color;

  @media (min-width: $tablet-min-width) {
    @include default-border-radius;
  }
}

.talent-header,
.constellation-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;

  @media (min-width: $desktop-small-min-width) {
    padding: 0.5rem 1.5rem;
  }
}

.talent-header-text,
.constellation-header-text {
  flex-grow: 1;
}

.talent-name,
.constellation-order,
.constellation-name {
  @include subtitle2-font;

  @media (min-width: $tablet-min-width) {
    @include header6-font;
    line-height: 1.4;
  }
}

.talent-type {
  @include caption-font;
}

.talent-image,
.constellation-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
  height: 3rem;
  margin-left: 0.5rem;
  width: 3rem;
}

.talent-description,
.constellation-description {
  @include body2-font;

  border-top: 1px solid #4a4a4a;
  padding: 1rem;

  @media (min-width: $desktop-small-min-width) {
    padding: 1rem 1.5rem;
  }
}

.constellation-order {
  margin-right: 0.5rem;
}
