@import 'constants';

@mixin full-width {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.character-header {
  background: $moe-level1-color;
  position: sticky;
  top: 0;
  z-index: 10;
}

.character-header-content {
  @include full-width;

  display: flex;
  flex-direction: row;
}

.character-icon-container {
  height: 5rem;
  overflow: hidden;
  width: 5rem;

  @media (min-width: $tablet-min-width) {
    @include default-border-radius;

    margin: 1rem 0 1rem 1rem;
  }

  @media (min-width: $desktop-small-min-width) {
    margin: 1rem 0 1rem 1.5rem;
  }
}

.character-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
}

.character-header-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;

  @media (min-width: $tablet-min-width) {
    padding: 1rem;
  }
}

.character-name {
  @media (max-width: $mobile-max-width) {
    @include header6-font;
    line-height: 1.2;
  }

  @media (min-width: $tablet-min-width) {
    @include header5-font;
  }
}

moe-rarity {
  @media (min-width: $tablet-min-width) {
    margin-bottom: 0.25rem;
  }
}

.header-separator {
  background: #4a4a4a;
  height: 1px;
  width: 100%;
}

.character-links {
  @include full-width;

  display: flex;
  flex-direction: row;
  overflow-x: auto;

  a {
    @include subtitle2-font;

    color: white;
    padding: 0.75rem 1rem;
    position: relative;
    text-transform: capitalize;

    @media (min-width: $tablet-min-width) {
      flex-grow: 1;
      text-align: center;
      width: 0;
    }

    &.active::after {
      background: white;
      bottom: 0;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      right: 0;
    }
  }
}

.character-attributes {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.character-attribute-separator {
  margin: 0 0.5rem;
  height: 0.25rem;
  width: 0.25rem;
  position: relative;

  &::after {
    background: white;
    border-radius: 0.25rem;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.character-element,
.character-weapon {
  @include caption-font;
}

.character-body {
  @include full-width;

  padding-top: 1rem;

  @media (min-width: $tablet-min-width) {
    padding: 1.5rem;
  }
}

moe-character-build {
  @media (min-width: $tablet-min-width) {
    @include default-border-radius;
  }
}

moe-character-build:not(:last-child) {
  margin-bottom: 1rem;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 1.5rem;
  }
}

.talents-body,
.constellations-body {
  display: grid;
  row-gap: 1rem;

  @media (min-width: $desktop-small-min-width) {
    column-gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
  }

  @media (min-width: $desktop-large-min-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.talent-container,
.constellation-container {
  background: $moe-level1-color;

  @media (min-width: $tablet-min-width) {
    @include default-border-radius;
  }
}

.talent-header,
.constellation-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;

  @media (min-width: $desktop-small-min-width) {
    padding: 0.5rem 1.5rem;
  }
}

.talent-header-text,
.constellation-name {
  flex-grow: 1;
}

.talent-name,
.constellation-order,
.constellation-name {
  @include subtitle2-font;

  @media (min-width: $tablet-min-width) {
    @include header6-font;
  }
}

.talent-type {
  @include caption-font;
}

.talent-image,
.constellation-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
  height: 3rem;
  margin-left: 0.5rem;
  width: 3rem;
}

.talent-description,
.constellation-description {
  @include body2-font;

  border-top: 1px solid #4a4a4a;
  padding: 1rem;

  @media (min-width: $desktop-small-min-width) {
    padding: 1rem 1.5rem;
  }
}

.constellation-order {
  margin-right: 0.5rem;
}
