<ng-template [ngIf]="!character">
  <moe-loading-image></moe-loading-image>
</ng-template>

<ng-template [ngIf]="!!character">
  <div class="character-header">
    <div class="character-header-content">
      <img
        class="character-element"
        src="{{ utilityService.getElementImage(character.Element) }}"
      />
      <div class="character-header-text">
        <h1 class="character-name">{{ character.Name }}</h1>
        <moe-rarity
          class="character-rarity"
          [value]="character.Rarity"
        ></moe-rarity>
      </div>
    </div>
  </div>

  <div class="character-overview">
    <div
      class="character-region"
      [ngStyle]="{
        'background-image':
          'url(' + utilityService.getRegionBannerUrl(character.Region) + ')'
      }"
    >
      <div class="character-images">
        <div
          class="character-icon"
          [ngStyle]="{
            'background-image': 'url(' + character.Icon + ')'
          }"
        ></div>
        <div
          class="character-quote"
          [ngStyle]="{
            'background-image': 'url(' + character.Quote + ')'
          }"
        ></div>
        <img
          class="character-tier"
          src="{{ utilityService.getTierImage(character.Tier) }}"
        />
      </div>
    </div>

    <div
      class="character-image"
      [ngStyle]="{
        'background-image': 'url(' + character.Image + ')'
      }"
    ></div>

    <div class="character-overview-text">
      <div class="character-attributes">
        <div class="character-attributes-section">
          <div class="character-title-label">Title</div>
          <div class="character-title-value">{{ character.Title }}</div>
          <div class="character-faction-label">Faction</div>
          <div class="character-faction-value">{{ character.Faction }}</div>
        </div>

        <div class="character-attributes-section">
          <div class="character-weapon-label">Weapon</div>
          <div class="character-weapon-value">{{ character.Weapon }}</div>
          <div class="character-birthday-label">Birthday</div>
          <div class="character-birthday-value">{{ character.Birthday }}</div>
        </div>
      </div>

      <p class="character-description">{{ character.Description }}</p>
    </div>
  </div>

  <div class="character-links">
    <div class="character-links-content">
      <a [routerLink]="['/characters/' + character.Id + '/overview']"
        >overview</a
      >
      <a [routerLink]="['/characters/' + character.Id + '/talents']">talents</a>
      <a [routerLink]="['/characters/' + character.Id + '/constellations']"
        >constellations</a
      >
    </div>
  </div>

  <div class="character-body">
    <ng-template [ngIf]="pageId === 'overview'">
      <moe-loading-image
        *ngIf="!character.Roles || !character.Roles.length"
      ></moe-loading-image>

      <moe-character-build
        *ngFor="let role of character.Roles"
        [role]="role"
      ></moe-character-build>
    </ng-template>

    <div
      id="character-constellations-container"
      class="flex-column"
      *ngIf="pageId === 'constellations'"
    >
      <div
        appContentCard
        class="content-card character-constellation-container background-gray-2"
      >
        <div
          class="content-card-title {{
            utilityService.getElementBackground(character.Element)
          }}"
        >
          <img src="{{ constellationOne?.Image }}" />
          <h4>{{ constellationOne?.Name }}</h4>
          <div
            class="
              constellation-tag-container
              background-gray-2
              flex-column flex-center
            "
          >
            <p>C1</p>
          </div>
          <div
            class="
              content-card-expand-button
              hover-background-gray-1
              flex-row flex-center
            "
          >
            <i class="fas fa-caret-down"></i>
          </div>
        </div>
        <div class="content-card-body">
          <div class="constellation-description">
            <p>{{ constellationOne?.Description }}</p>
          </div>
        </div>
      </div>

      <div
        appContentCard
        class="content-card character-constellation-container background-gray-2"
      >
        <div
          class="content-card-title {{
            utilityService.getElementBackground(character.Element)
          }}"
        >
          <img src="{{ constellationTwo?.Image }}" />
          <h4>{{ constellationTwo?.Name }}</h4>
          <div
            class="
              constellation-tag-container
              background-gray-2
              flex-column flex-center
            "
          >
            <p>C2</p>
          </div>
          <div
            class="
              content-card-expand-button
              hover-background-gray-1
              flex-row flex-center
            "
          >
            <i class="fas fa-caret-down"></i>
          </div>
        </div>
        <div class="content-card-body">
          <div class="constellation-description">
            <p>{{ constellationTwo?.Description }}</p>
          </div>
        </div>
      </div>

      <div
        appContentCard
        class="content-card character-constellation-container background-gray-2"
      >
        <div
          class="content-card-title {{
            utilityService.getElementBackground(character.Element)
          }}"
        >
          <img src="{{ constellationThree?.Image }}" />
          <h4>{{ constellationThree?.Name }}</h4>
          <div
            class="
              constellation-tag-container
              background-gray-2
              flex-column flex-center
            "
          >
            <p>C3</p>
          </div>
          <div
            class="
              content-card-expand-button
              hover-background-gray-1
              flex-row flex-center
            "
          >
            <i class="fas fa-caret-down"></i>
          </div>
        </div>
        <div class="content-card-body">
          <div class="constellation-description">
            <p>{{ constellationThree?.Description }}</p>
          </div>
        </div>
      </div>

      <div
        appContentCard
        class="content-card character-constellation-container background-gray-2"
      >
        <div
          class="content-card-title {{
            utilityService.getElementBackground(character.Element)
          }}"
        >
          <img src="{{ constellationFour?.Image }}" />
          <h4>{{ constellationFour?.Name }}</h4>
          <div
            class="
              constellation-tag-container
              background-gray-2
              flex-column flex-center
            "
          >
            <p>C4</p>
          </div>
          <div
            class="
              content-card-expand-button
              hover-background-gray-1
              flex-row flex-center
            "
          >
            <i class="fas fa-caret-down"></i>
          </div>
        </div>
        <div class="content-card-body">
          <div class="constellation-description">
            <p>{{ constellationFour?.Description }}</p>
          </div>
        </div>
      </div>

      <div
        appContentCard
        class="content-card character-constellation-container background-gray-2"
      >
        <div
          class="content-card-title {{
            utilityService.getElementBackground(character.Element)
          }}"
        >
          <img src="{{ constellationFive?.Image }}" />
          <h4>{{ constellationFive?.Name }}</h4>
          <div
            class="
              constellation-tag-container
              background-gray-2
              flex-column flex-center
            "
          >
            <p>C5</p>
          </div>
          <div
            class="
              content-card-expand-button
              hover-background-gray-1
              flex-row flex-center
            "
          >
            <i class="fas fa-caret-down"></i>
          </div>
        </div>
        <div class="content-card-body">
          <div class="constellation-description">
            <p>{{ constellationFive?.Description }}</p>
          </div>
        </div>
      </div>

      <div
        appContentCard
        class="content-card character-constellation-container background-gray-2"
      >
        <div
          class="content-card-title {{
            utilityService.getElementBackground(character.Element)
          }}"
        >
          <img src="{{ constellationSix?.Image }}" />
          <h4>{{ constellationSix?.Name }}</h4>
          <div
            class="
              constellation-tag-container
              background-gray-2
              flex-column flex-center
            "
          >
            <p>C6</p>
          </div>
          <div
            class="
              content-card-expand-button
              hover-background-gray-1
              flex-row flex-center
            "
          >
            <i class="fas fa-caret-down"></i>
          </div>
        </div>
        <div class="content-card-body">
          <div class="constellation-description">
            <p>{{ constellationSix?.Description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
