<ng-template [ngIf]="!character">
  <moe-loading-image></moe-loading-image>
</ng-template>

<ng-template [ngIf]="!!character">
  <div class="character-header">
    <div class="character-header-content">
      <div
        class="character-icon-container"
        [ngClass]="{
          'rarity1-gradient': !rarity || rarity === 1,
          'rarity2-gradient': rarity === 2,
          'rarity3-gradient': rarity === 3,
          'rarity4-gradient': rarity === 4,
          'rarity5-gradient': rarity === 5
        }"
      >
        <div
          class="character-icon"
          [ngStyle]="{
            'background-image': 'url(' + character.Icon + ')'
          }"
        ></div>
      </div>

      <div class="character-header-text">
        <h1 class="character-name">{{ character.Name }}</h1>
        <moe-rarity class="character-rarity" [value]="rarity"></moe-rarity>
        <div class="character-attributes">
          <div class="character-element">{{ character.Element }}</div>
          <div class="character-attribute-separator"></div>
          <div class="character-weapon">{{ character.Weapon }}</div>
        </div>
      </div>
    </div>

    <div class="header-separator"></div>

    <div class="character-links">
      <a
        [routerLink]="['/characters/' + character.Id + '/overview']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >builds</a
      >
      <a
        [routerLink]="['/characters/' + character.Id + '/talents']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >talents</a
      >
      <a
        [routerLink]="['/characters/' + character.Id + '/constellations']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >constellations</a
      >
    </div>
  </div>

  <div class="character-body">
    <ng-template [ngIf]="pageId === 'overview'">
      <moe-loading-image
        *ngIf="!character.Roles || !character.Roles.length"
      ></moe-loading-image>

      <moe-character-build
        *ngFor="let role of character.Roles"
        [role]="role"
      ></moe-character-build>
    </ng-template>

    <ng-template [ngIf]="pageId === 'talents'">
      <div>Talent stub</div>
    </ng-template>

    <ng-template [ngIf]="pageId === 'constellations'">
      <div>Constellations stub</div>
    </ng-template>
  </div>
</ng-template>
