<div class="moe-nav-bar">
  <div class="moe-nav-mobile-toggle" (click)="openDrawer()">
    <i class="fas fa-bars"></i>
  </div>

  <div class="moe-home-item">
    <div class="moe-home-logo">
      <img src="assets/img/general/logo-rectangle-64.webp" />
      <a class="moe-home-route" [routerLink]="['/']"></a>
    </div>
  </div>

  <div class="moe-nav-desktop-links">
    <moe-route-button
      *ngFor="let route of navList"
      [route]="route"
      [style]="buttonStyles.BUTTON"
    ></moe-route-button>
  </div>

  <div class="moe-account-module">
    <moe-route-button
      [route]="loginRoute"
      [style]="buttonStyles.BUTTON"
      (click)="closeDrawer()"
    ></moe-route-button>
    <moe-route-button
      class="moe-signup-button"
      [route]="signupRoute"
      [style]="buttonStyles.BUTTON"
      (click)="closeDrawer()"
    ></moe-route-button>
  </div>

  <div class="moe-nav-mobile-placeholder"></div>
</div>

<div class="moe-nav-mobile-menu" [ngClass]="{ 'drawer-open': drawerOpen }">
  <div class="moe-nav-close-button" (click)="closeDrawer()">
    <i class="fa fa-times"></i>
  </div>

  <moe-route-button
    *ngFor="let route of navList"
    [route]="route"
    [style]="buttonStyles.LINE_ITEM"
    (click)="closeDrawer()"
  ></moe-route-button>

  <div class="moe-account-module">
    <moe-route-button
      [route]="loginRoute"
      [style]="buttonStyles.BUTTON"
      (click)="closeDrawer()"
    ></moe-route-button>
    <moe-route-button
      class="moe-signup-button"
      [route]="signupRoute"
      [style]="buttonStyles.BUTTON"
      (click)="closeDrawer()"
    ></moe-route-button>
  </div>
</div>

<div *ngIf="drawerOpen" class="moe-nav-click-out" (click)="closeDrawer()"></div>
