@import 'global';

.moe-nav-bar {
  align-items: center;
  background: $moe-background-color;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0.5rem 1rem;
  width: 100%;

  @media (max-width: $tablet-max-width) {
    .moe-nav-desktop-links,
    .moe-account-module {
      display: none;
    }
  }

  @media (min-width: $desktop-small-min-width) {
    padding: 1rem 1.5rem;

    .moe-nav-mobile-toggle,
    .moe-nav-mobile-placeholder {
      display: none;
    }

    .moe-home-item,
    .moe-account-module {
      flex-grow: 1;
      width: 0;
    }

    .moe-account-module {
      justify-content: flex-end;
    }
  }
}

.moe-home-item,
.moe-home-logo {
  display: inline-block;
  line-height: 0;
}

.moe-home-logo {
  position: relative;

  a {
    @include cover-element;
    z-index: 1;
  }
}

.moe-nav-mobile-toggle,
.moe-nav-mobile-placeholder {
  height: 2em;
  width: 2em;

  i {
    font-size: 2em;
  }
}

.moe-nav-desktop-links {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  moe-route-button {
    margin: 0 0.25rem;
  }
}

.moe-account-module {
  display: flex;
  justify-content: flex-end;
}

.moe-signup-button {
  @include default-border-radius;

  background: $moe-navy-accent;
}

.moe-nav-mobile-overlay {
  display: flex;
  flex-direction: row;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
  transition: 0.2s;
}

$mobile-menu-width: 240px;
$mobile-menu-z-index: 1000;

.moe-nav-mobile-menu {
  background: $moe-level2-color;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  left: -$mobile-menu-width;
  position: absolute;
  top: 0;
  transition: 0.2s;
  width: $mobile-menu-width;
  z-index: $mobile-menu-z-index;

  &.drawer-open {
    left: 0px;
  }

  .moe-nav-close-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;

    i {
      font-size: 1.5rem;
      padding: 1rem;
    }
  }

  .moe-account-module {
    flex-direction: column;
    flex-grow: 1;
    margin: 0 1.5rem 1.5rem;

    moe-route-button {
      flex-direction: column;
      text-align: center;
    }
  }
}

.moe-nav-click-out {
  height: 100%;
  left: $mobile-menu-width;
  position: absolute;
  right: 0;
  top: 0;
  z-index: $mobile-menu-z-index;
}
