/* Primary Nav */

#nav-container {
  width: 100%;
  height: 6em;
  position: absolute;
  background: #1e1e1e;
  z-index: 200;
}

#nav-primary-container {
  width: 100%;
  height: 100%;
}

#nav-primary-container a {
  align-self: center;
}

#nav-left-group {
  width: 28em;
}

#nav-left-group a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#nav-left-group img {
  height: 4em;
  max-height: 4em;
  min-height: 4em;
}

#nav-center-group {
  height: 100%;
  margin: 0px 4em;
}

#nav-right-group {
  width: 28em;
}

#nav-mobile-container {
  height: 100%;
  width: 100%;
  display: none;
}

/* Mobile Nav */

#nav-mobile-container > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#nav-mobile-container > a > img {
  height: 4em;
  max-height: 4em;
  min-height: 4em;
}

#nav-mobile-menu-button {
  width: 4em;
  max-width: 4em;
  min-width: 4em;
  height: 4em;
  max-height: 4em;
  min-height: 4em;
  align-self: center;
  position: absolute;
  margin-left: 1em;
  border-radius: 5px;
  transition-duration: 0.2s;
  cursor: pointer;
}

#nav-mobile-menu-button:hover {
  background: #262626;
}

#nav-mobile-menu-button > i {
  color: #fefefe;
  font-size: 2em;
  margin: auto 0;
}

#nav-mobile-logo {
  margin: 0 auto;
}

/* Nav Drawer */

#nav-drawer-click-overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 199;
  position: fixed;
}

#nav-drawer-container {
  position: fixed;
  height: 100%;
  width: 12em;
  margin-left: -15em;
  z-index: 200;
}

#nav-drawer-exit-button {
  margin: 1em;
  cursor: pointer;
}

#nav-drawer-exit-button > i {
  font-size: 1.5em;
  color: #fefefe;
}

#nav-drawer-container h4 {
  text-align: start;
}

#nav-drawer-container > a {
  margin: 0;
  border-radius: 0;
  height: 3em;
}

#nav-drawer-container > a:hover {
  background: #fefefe;
}

#nav-drawer-container > a:hover > p {
  color: #262626;
}

#account-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1em;
}

/* Resolution Definitions */

@media screen and (max-width: 1100px) {
  #nav-primary-container {
    display: none;
  }
  #nav-mobile-container {
    display: flex;
  }
}
