@import 'global';

:host {
  @include list-page-host;
}

.weapon-search-container {
  background: $moe-background-color;
  border-bottom: 1px solid $moe-level1-color;
}

moe-filter-sort {
  @include list-page-sizing;
}

.weapon-search-results {
  @include list-page-sizing;
  padding: 0 0.5rem 0.5rem;

  @media (min-width: $tablet-min-width) {
    padding: 0 1.5rem 1.5rem;
  }
}

.weapon-results-message {
  @include caption-font;
  padding: 0.5rem 0.25rem;
}

.weapon-results-grid {
  @include list-page-grid;
}

moe-weapon-card {
  background: $moe-level1-color;
}
