<div class="list-page-header">
  <h1>Weapons</h1>
</div>

<div class="list-page-content">
  <moe-loading-image *ngIf="!listItems; else elseBlock"></moe-loading-image>

  <ng-template #elseBlock>
    <div class="weapon-filter-sort-stub"></div>
    <div class="weapon-group-section" *ngFor="let listItem of listItems | keyvalue">
      <div class="weapon-group-section-header">
        <img *ngIf="listItem.value.mainImage" src="{{ listItem.value.mainImage }}" />
        <h3 *ngIf="listItem.value.mainLabel">
          {{ listItem.value.mainLabel }}
        </h3>
      </div>
      <div class="weapon-items-list">
        <moe-weapon-card *ngFor="let weapon of listItem.value.weapons"
          [weapon]="weapon.toWeaponCardModel()">
        </moe-weapon-card>
      </div>
    </div>
  </ng-template>
</div>
