@import 'global';

:host {
  @include default-border-radius;

  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;

  &:hover {
    .weapon-card-blur-image {
      transform: scale(1.1);
    }
  }
}

.weapon-page-link {
  @include cover-element;
  z-index: 1;
}

.weapon-card-name {
  @include subtitle2-font;
  padding: 0.75rem 1rem;
}

.weapon-card-content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.weapon-card-summary {
  align-items: flex-start;
  border-top: 1px solid #4a4a4a;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0.5rem 1rem 0.75rem;
}

.weapon-base-attack-label,
.weapon-substat-label {
  @include caption-font;
}

.weapon-substat-value {
  @include subtitle2-font;
  line-height: 1.5;
}

.weapon-base-attack-value {
  @include header6-font;
  line-height: 1.25;
}

moe-rarity {
  align-items: flex-end;
  display: flex;
  flex-grow: 1;
  padding: 0.25rem 0;
}

.weapon-card-image-container {
  align-items: center;
  border-radius: 0 0 $moe-border-radius 0;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  min-height: 8rem;
  overflow: hidden;
  position: relative;
  width: 8rem;
}

.weapon-card-blur-image {
  background-position: center;
  background-size: cover;
  height: 100%;
  transition: 0.25s;
  width: 100%;
}
