<div class="container-1">
  <div class="container-inner-1 flex-column">
    <div class="banner-1">
      <div class="banner-content-container-1">
        <img
          class="full-width full-height image-cover"
          src="https://media.impact.moe/img/banners/banner-1.webp"
        />
      </div>
      <div
        class="
          banner-content-container-1
          flex-column flex-center flex-center-items
        "
      >
        <h1>Sign Up</h1>
      </div>
    </div>
    <div
      class="
        body-1
        flex-column flex-center flex-center-items
        full-width full-height
      "
    >
      <p>In Development :)</p>
    </div>
  </div>
</div>
