<div class="role-overview">
  <div class="role-header">
    <div *ngIf="isRecommended" class="role-recommended">
      <i class="recommended-icon fas fa-star"></i>
    </div>
    <div class="role-name">{{ role.Name }}</div>
    <div class="role-view-toggle" (click)="toggleView()">
      <i class="material-icons">{{ toggleIcon }}</i>
    </div>
  </div>

  <div
    class="role-description"
    *ngIf="!!role.Notes && isExpanded"
    [innerHtml]="role.Notes"
    linkHandler
  ></div>
</div>

<div class="role-build" *ngIf="isExpanded">
  <div class="role-weapons">
    <div class="role-weapons-label">Weapons</div>

    <div class="weapon-chips-container">
      <div *ngIf="role.Weapons.length === 0" class="no-weapon-chips">
        No suggested weapons found.
      </div>

      <div class="weapon-chip" *ngFor="let weaponPriority of role.Weapons">
        <div class="weapon-chip-rank">{{ weaponPriority.Rank }}</div>
        <moe-weapon-chip
          [weapon]="weaponPriority.Weapon.toWeaponSummary()"
        ></moe-weapon-chip>
      </div>
    </div>
  </div>

  <div class="role-items">
    <div class="role-artifacts">
      <div class="role-artifacts-label">Artifacts</div>

      <div *ngIf="role.Artifacts.length === 0" class="no-artifact-chips">
        No suggested artifacts found.
      </div>

      <div *ngFor="let build of artifactBuilds; index as i">
        <div class="artifact-chip">
          <div class="artifact-chip-rank">{{ i + 1 }}</div>
          <div class="artifact-sets">
            <moe-artifact-chip
              [artifactSet]="build.sets[0]"
              [hideFourPieceBonus]="build.sets.length > 1"
            ></moe-artifact-chip>
            <moe-artifact-chip
              *ngIf="build.sets.length > 1"
              [artifactSet]="build.sets[1]"
              [hideFourPieceBonus]="true"
            ></moe-artifact-chip>
          </div>
        </div>
        <div
          *ngIf="i < artifactBuilds.length - 1"
          class="artifact-chip-separator"
        >
          or
        </div>
      </div>
    </div>

    <div
      *ngIf="role.MainStats.length > 0 || role.SubStats.length > 0"
      class="role-stats"
    >
      <div class="role-stats-label">Main Stats</div>
      <div class="main-stat-container" *ngFor="let mainStat of role.MainStats">
        <div class="main-stat-image-container">
          <img
            class="main-stat-image"
            src="{{ utilityService.getArtifactImage64(mainStat.ArtifactType) }}"
          />
        </div>
        <div class="main-stat-type">
          {{ mainStat.Type }}
        </div>
      </div>

      <div class="role-substats-label">Sub Stats</div>
      <ol class="substat-list">
        <li class="substat-type" *ngFor="let subStat of role.SubStats">
          {{ subStat.Type }}
        </li>
      </ol>
    </div>
  </div>
</div>
