@import 'global';

:host {
  background: $moe-level1-color;
  display: block;
}

.role-build-label {
  @include header6-font;

  border-bottom: 1px solid #4a4a4a;
  padding: 0.75rem 1rem;

  @media (min-width: $tablet-min-width) {
    padding: 1rem 1.5rem;
  }
}

.role-description {
  border-bottom: 1px solid #4a4a4a;
  padding: 0.5rem 1rem 0;

  @media (min-width: $tablet-min-width) {
    padding: 0.5rem 1.5rem 0;
  }
}

.role-weapons-label,
.role-artifacts-label,
.role-stats-label,
.role-substats-label {
  @include subtitle-font;

  padding: 0.75rem 1rem;

  @media (min-width: $tablet-min-width) {
    padding: 0.75rem 1.5rem;
  }
}

.weapon-chips-container,
.artifact-chips-container {
  column-gap: 0.125rem;
  display: grid;
  padding: 0.125rem 0;
  row-gap: 0.125rem;

  @media (min-width: $tablet-min-width) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-small-min-width) {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 1.5rem;
  }

  @media (min-width: $desktop-large-min-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.weapon-chip {
  background: #363333;
  display: flex;
  flex-direction: row;

  .weapon-chip-rank {
    align-items: center;
    background: white;
    color: black;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    width: 2rem;
  }

  moe-weapon-chip {
    flex-grow: 1;
  }
}
