name: CI

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v1

      - name: Set up ChromeDriver
        uses: nanasess/setup-chromedriver@master

      - name: Install NPM dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build -- --configuration production

      # Add this back once we have actual tests (i.e. dev is merged into master).
      #
      # - name: Test
      #   run: npm run test-headless
      #   env:
      #     TZ: US/Pacific

  deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    needs: [build]
    environment:
      name: prod
      url: https://impact.moe/
    steps:
    - name: Deploy API service
      uses: appleboy/ssh-action@v0.1.4
      with:
        host: ${{secrets.SSH_HOST}}
        key: ${{secrets.SSH_KEY}}
        username: ${{secrets.SSH_USERNAME}}
        port: ${{secrets.SSH_PORT}}
        script: sh autoDeploy.sh angular
